<settings>
    <setting propertyKey="@Properties.SwitchAfterOperator" title="@Strings.SwitchAfterOperatorTitle" prompt="@Strings.SwitchAfterOperatorPrompt">
        <settingConfig type="boolean" />
    </setting>
    <setting propertyKey="@Properties.VibrateOnButton" title="@Strings.VibrateOnButtonTitle" prompt="@Strings.VibrateOnButtonPrompt">
        <settingConfig type="boolean" />
    </setting>
    <setting propertyKey="@Properties.ScreenTransitions" title="@Strings.ScreenTransitionsTitle" prompt="@Strings.ScreenTransitionsPrompt">
        <settingConfig type="boolean" />
    </setting>
</settings>
